<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="favicon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/swiper/swiper.css}">
    <link rel="stylesheet/less" th:href="@{/css/customize-style.less}">
    <script src="https://cdn.bootcss.com/less.js/3.10.3/less.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script th:src="@{/swiper/swiper.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>

