<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="component/head :: head-fragment">
</head>
<body>
<div class="box">
    <header class="header" th:include="component/header :: header-fragment"></header>
    <nav class="nav" th:include="component/nav :: nav-fragment"></nav>
    <section class="swiper" th:include="component/swiper :: swiper-fragment"></section>
    <section class="content">
        <div id="app">
            {{message}}
        </div>
    </section>
    <footer class="footer" th:include="component/footer :: footer-fragment"></footer>
</div>
<script>
    new Vue({
        el: '#app',
        data: {message: 'aaa'}
    })
</script>
</body>
</html>
